In [11]:
from PIL import Image
a=Image.open("d41586-020-01430-5_17977554.jpg")
s=a.size
print(s)
size=(40,40)
r=a.resize(size)
print(r.show())

(800, 450)
None

In [45]:
from PIL import Image
def image(a):
    return Image.open(a)

In [46]:
def resizing(a,b):
    im=image("d41586-020-01430-5_17977554.jpg")
    size=(a,b)
    r=im.resize(size)
    print(r.show())

In [47]:
l=[[300,300],[400,400],[600,600]]
for i in l:
    resizing(i[0],i[1])

None
None
None

In [ ]:
from PIL import Image
class  Image_operation:
    def __init__(self, image):
        image=self.image
        
    def open(self):
        im=Image.open(image)
        return im

In [49]:
def resizing(image,dim):
    im=Image.open(image)
    r=im.resize(dim)
    print(r.show())

None

In [1]:
tuple(40,40)

TypeError: tuple expected at most 1 argument, got 2

In [3]:
a="(40,40)"tuple(a)

('(', '4', '0', ',', '4', '0', ')')

In [20]:
a=input()
a=a.split()
b=[]
for i in a:
    b.append(int(i))

33 44

[33, 44]

In [15]:
#if my input is 30, 44, 33, 22, 44, 33. The input no shuld be even
# Then the out put should be [(30,44),(33,22),(44,33)]

In [16]:
a=[30, 44]
a=tuple(a)
a

(30, 44)

In [22]:
# a="30 44 33 22 44 33"
# a=a.split() 
a=['30', '44', '33', '22', '44', '33']
b=[]
for i in range(0,len(a),2):
    print(a[i],a[i+1])
#     b.append(list(a[i] a[i+1]))

30 44
33 22
44 33

In [8]:
a={"name":"bapi","age": [23,34,33,55]}
a["age"]

[23, 34, 33, 55]

In [24]:
import json
# a="[{\"_id\": {\"$oid\": \"638de528b02aabb14176dc7a\"}, \"dimension\": [[450, 300], [500, 500], [400, 400], [567, 567]]}]"

# a=json.loads(a)
# print(type(a))

b={'data':[33]}
b=json.dumps(b)
print(b)
print(type(b))

{"data": [33]}
<class 'str'>